body, main {
	background-color: #2c3e50;
}

a.question {
  color: #7f8c8d;
}

#interaction_container > div {
  display: inline-block;
  margin-bottom: 70px;
}

#google_map {
  width: 75%;
  height: 600px;
  background-color: #ecf0f1;
  /*box-shadow: 0 0 10px #7f8c8d;*/
  vertical-align: top;
  margin-left: 1%;
  border-radius: 5px;
}

#category_panel {
  background-color: #ecf0f1;
  width: 20%;
  margin-left: 2%;
  padding: 1%;
  min-height: 100%;
  bottom: 0;
  border-radius: 5px;
}

#category_panel > h3 {
  margin-top: 0;
  font-size: 16px;
  text-align: center;
  color: #7f8c8d;
}

#next-question {
  width: 97%;
  margin-bottom: 10px;
}

#instructions {
  position: absolute;
  right: 20px;
  top: 15px;
}

.navbar {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #ecf0f1;
  color: #2c3e50;
  border-radius: 5px;
  border: 0px;
}

#question_container > h2 {
  margin: 10px 0 0 10px;
}

#categories > h3 {
  padding: 5px;
  margin: 5px;
  margin-left: 0px;
  border: 1px solid #bdc3c7;
  border-radius: 3px;
  font-size: 1.3em;
  color: #7f8c8d;
}

#category_panel .question {
  padding: 5px 0 5px 10px;
  display: block;
}

#category_panel .question:hover {
  cursor: pointer;
  text-decoration: none;
  color: #34495e;
}

#categories > h3:hover {
  cursor: pointer;
  background-color: #7f8c8d;
  color: #ecf0f1;
  border: 1px dotted black;
}

.selected {
  font-size: bold;
  color: #c0392b;
}

.answered {
  text-decoration: line-through;
  opacity: 0.7;
}

.origin {
  position: absolute;
  top: 0;
  left: 0;
}

.full_size {
  width: 100%;
  height: 100%;
}

#load_message {
  color: white;
  position: relative;
  text-align: center;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.transparent_black {
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-color: black;
  width: 100%;
  height: 100%;
}

#load_container {
  display: none;
}

footer {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  left: 0;
}

footer ul {
  text-align: center;
}

footer li {
  color: #fff;
  display: inline-block;
  font-size: 1.8em;
  margin: 10px;
}

footer li a {
  color: #fff;
  opacity: 0.3;
  transition: opacity 0.5s ease;  
}

footer nav li a:hover {
  color: #fff;
  opacity: 1.0;
}

/*font and icons*/
@font-face {
  font-family: 'IcoMoon';
  src: url('../font/icomoon.woff') format('woff');
}

[data-icon]:before {
  font-family: 'IcoMoon';
  content: attr(data-icon);
}

/*accessibility*/
.screen-reader {
  position: absolute;
  top: -9999px;
  left: -9999px;
}