<main>
	<div id="google_map" ></div>
	<div class="page_header" id="question_container">
		<h2 id="question" data-id="<%= @question.id %>"><%= @question.content %></h2>
	</div>

  <div id="category_panel">
    <h3>Questions</h3>
    <button type="button" class="btn btn-default" id="next-question">Next question</button>
    <div id="categories">

    </div>
  </div>

  <div id="load_container" class="origin full_size">
  	<div class="transparent_black origin full_size"></div>
  	<div id="load_message"><h1></h1></div>
  </div>
</main>
