<main>
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header" id="question_container">
        <h2 id="question" data-id="<%= @question.id %>"><%= @question.content %></h2>
        <span id="instructions">Click on a country to answer</span>
      </div>
    </div>
  </div>

  <div id="interaction_container">
	  <div id="category_panel">
	    <h3>Loading questions</h3>
	    <button type="button" class="btn btn-success" id="next-question">Next question</button>
	    <div id="categories"></div>
	  </div>

		<div id="google_map" ></div>
	</div>


  <div id="load_container" class="origin full_size">
  	<div class="transparent_black origin full_size"></div>
  	<div id="load_message"><h1></h1></div>
  </div>
  <div id="locate_dialog" title="Can we collect some info on your location?">
    <p>We think it'd be cool to analyse the data from this survey based on participant's country of origin - would it be ok to store your country?</p>
    <button type="button" class="btn btn-danger" id="locate_false">Nice try, NSA</button>
    <button type="button" class="btn btn-success" id="locate_true">Sure!</button>
  </div>
  <button type="button" class="btn btn-success next-question-full" id="next-question-full">Next question</button>
</main>

<footer>
  <nav>
		<ul>
			<li>
				<a href='https://twitter.com/jayrob_in'>
					<span aria-hidden="true" data-icon="&#xe603;"></span>
					<span class="screen-reader">Twitter</span>
				</a>
			</li>
			<li>
				<a href='http://www.github.com/jayrobin'>
					<span aria-hidden="true" data-icon="&#xe604;"></span>
					<span class="screen-reader">GitHub</span>
				</a>
			</li>
			<li>
				<a href='http://uk.linkedin.com/in/jayrobin'>
					<span aria-hidden="true" data-icon="&#xe605;"></span>
					<span class="screen-reader">LinkedIn</span>
				</a>
			</li>
		</ul>
	</nav>
</footer>
