<main>
	<div id="google_map" ></div>
	<div class="page_header" id="question_container">
		<h2 id="question"><span id="<%= @question.id %>"><%= @question.content %></span></h2>
		<!-- <button type="button" class="btn btn-default" id="next-question">Next question</button> -->
	</div>

  <div id="category_list">
    <h3>Questions</h3>
  </div>
</main>
