
<main>
	<div class="page_header">
		<h1 id="question"><span id="<%= @question.id %>"><%= @question.content %></span></h1>
	</div>

	<button type="button" class="btn btn-default" id="next-question">Next question</button>
	<div id="google_map" ></div>
</main>
